:host {
  --slds-c-button-brand-color-background: #ff5d2d;
  --slds-c-button-brand-color-border: #ff5d2d;
  --slds-c-button-brand-color-background-hover: #ff5d2d;
  --slds-c-button-brand-color-border-hover: #ff5d2d;
}

.buttonIcon {
  --slds-c-button-color-background: #ff5d2d;
  --slds-c-button-color-border-hover: #ff5d2d;
  --slds-c-button-color-border: #ff5d2d;
}

.footer {
  background-color: #ff5d2d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.footer a {
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .slds-col {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .chat-Input {
    height: 3rem; /* Increase height for better mobile usability */
  }

  .buttonIcon {
    font-size: 2rem; /* Increase button size for better touch interaction */
  }
}
